In [1]:
list1 = [21,22,22,32,22,12,22,13]

In [2]:
type(list1)

list

In [28]:
tuple1 = (32,22,43,3,23,34,34,33,23)

In [5]:
type(tuple1)

tuple

In [8]:
list1[2]=100

In [21]:
sum(list1)

244

In [12]:
tuple1[3]=34

TypeError: 'tuple' object does not support item assignment

In [14]:
tuple1.count(23)

2

In [16]:
tuple1.index(3)

3

In [18]:
tuple1.index(43)

2

In [20]:
sum(tuple1)

247

In [22]:
tuple1 = tuple()

In [23]:
tuple1

()

In [26]:
len(tuple1)

9

In [27]:
del tuple1

In [31]:
tuple1[3:7]

(3, 23, 34, 34)

In [32]:
tuple1

(32, 22, 43, 3, 23, 34, 34, 33, 23)

In [48]:
tuple1[9:0:-3]

(23, 34, 43)

In [64]:
dict1 = {'cust_id':[1,2,3,4,5],
        'cust_name':['A','B','C','D','E'],
        'Region':['N','S','S','E','W']}

In [65]:
dict1['Product'] = ['Py','Tab','SQL','Py','R']

In [54]:
dict1['cust_name'][0]='Z'

In [55]:
dict1

{'cust_id': [1, 2, 3, 4, 5],
 'cust_name': ['Z', 'B', 'C', 'D', 'E'],
 'Region': ['N', 'S', 'S', 'E', 'W'],
 'Product': ['Py', 'Tab', 'SQL', 'Py', 'R']}

In [ ]:
#https://pandas.pydata.org/

In [56]:
import pandas as pd

In [58]:
a=pd.DataFrame(dict1)

In [60]:
type(a)

pandas.core.frame.DataFrame

In [62]:
dict1.clear()

In [66]:
dict1

{'cust_id': [1, 2, 3, 4, 5],
 'cust_name': ['A', 'B', 'C', 'D', 'E'],
 'Region': ['N', 'S', 'S', 'E', 'W'],
 'Product': ['Py', 'Tab', 'SQL', 'Py', 'R']}

In [67]:
dict2=dict1.copy()

In [79]:
dict2

{'cust_id': [1, 2, 3, 4, 5],
 'cust_name': ['A', 'B', 'C', 'D', 'E'],
 'Region': ['N', 'S', 'S', 'E', 'W'],
 'Product': ['Py', 'Tab', 'SQL', 'Py', 'R']}

In [81]:
dict3['Product']='Tab'

In [83]:
dict3['cust_name']='B'

In [84]:
dict3

{'Product': 'Tab', 'cust_name': 'B'}

In [78]:
dict3['Product'][0]='Tab'

TypeError: 'int' object does not support item assignment

In [88]:
dict2

{'cust_id': [1, 2, 3, 4, 5],
 'cust_name': ['A', 'B', 'C', 'D', 'E'],
 'Region': ['N', 'S', 'S', 'E', 'W'],
 'Product': ['Py', 'Tab', 'SQL', 'Py', 'R']}

In [87]:
dict2.get('Product')

['Py', 'Tab', 'SQL', 'Py', 'R']

In [89]:
dict2.items()

dict_items([('cust_id', [1, 2, 3, 4, 5]), ('cust_name', ['A', 'B', 'C', 'D', 'E']), ('Region', ['N', 'S', 'S', 'E', 'W']), ('Product', ['Py', 'Tab', 'SQL', 'Py', 'R'])])

In [90]:
dict2.keys()

dict_keys(['cust_id', 'cust_name', 'Region', 'Product'])

In [95]:
dict2['Product']

['Py', 'Tab', 'SQL', 'Py', 'R']

In [96]:
dict2.pop('Product')

['Py', 'Tab', 'SQL', 'Py', 'R']

In [98]:
dict2.popitem()

('Region', ['N', 'S', 'S', 'E', 'W'])

In [100]:
dict2.popitem()

('cust_name', ['A', 'B', 'C', 'D', 'E'])

In [102]:
dict2

{'cust_id': [1, 2, 3, 4, 5]}

In [108]:
dict1.setdefault('Marks')

In [107]:
dict1.popitem()

('Marks', None)

In [110]:
del dict1['Marks']

In [113]:
del dict1['Product'][4]

In [117]:
dict1['Product'][4]='R'

IndexError: list assignment index out of range

In [115]:
pd.DataFrame(dict1)

ValueError: arrays must all be same length

In [119]:
dict1

{'cust_id': [1, 2, 3, 4, 5],
 'cust_name': ['A', 'B', 'C', 'D', 'E'],
 'Region': ['N', 'S', 'S', 'E', 'W'],
 'Product': ['Py', 'Tab', 'SQL', 'Py']}

In [120]:
dict2

{'cust_id': [1, 2, 3, 4, 5]}

In [125]:
mydict = {1:2, 3:4, 5:6, 7:8}

In [127]:
mydict2 = {1:10, 9:20}

In [128]:
mydict

{1: 2, 3: 4, 5: 6, 7: 8}

In [129]:
mydict2

{1: 10, 9: 20}

In [130]:
mydict.update(mydict2)

In [131]:
mydict

{1: 10, 3: 4, 5: 6, 7: 8, 9: 20}

In [133]:
dict1.values()

dict_values([[1, 2, 3, 4, 5], ['A', 'B', 'C', 'D', 'E'], ['N', 'S', 'S', 'E', 'W'], ['Py', 'Tab', 'SQL', 'Py']])

In [134]:
tuple1 = (1,2,3,4,5)

In [137]:
list1=list(tuple1)

In [139]:
list1[0]=100

In [142]:
tuple1=tuple(list1)

In [143]:
tuple1

(100, 2, 3, 4, 5)

In [145]:
list(dict1)

['cust_id', 'cust_name', 'Region', 'Product']

In [146]:
tuple1 = (1,2,3,[4,5,6])

In [148]:
type(tuple1)

tuple

In [152]:
tuple1[3][1]=50

In [153]:
tuple1

(1, 2, 3, [4, 50, 6])

In [154]:
list1=[1,2,'R',10.5, True]

In [155]:
sum(list1)

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [157]:
[tuple1]

[(1, 2, 3, [4, 50, 6])]

In [173]:
myset1 = {1,1,2,3,4,4,5,6,6,6,6,7,8,9,9,9,9}

In [160]:
myset1.add(100)

In [163]:
myset1.add([11,12,13,15])

TypeError: unhashable type: 'list'

In [171]:
myset1.clear()

In [174]:
myset1

{1, 2, 3, 4, 5, 6, 7, 8, 9}

In [167]:
myset2=myset1.copy()

In [196]:
myset2.discard(7)

In [183]:
myset2.pop(3)

TypeError: pop() takes no arguments (1 given)

In [182]:
myset2

{3, 4, 5, 6, 8, 9}

In [184]:
myset1 = {1,1,2,3,4,4,5,6,6,6,6,7,8,9,9,9,9}

In [189]:
myset1

{1, 2, 3, 4, 5, 6, 7, 8, 9}

In [188]:
myset1[0:7]

TypeError: 'set' object is not subscriptable

In [186]:
myset1[6]

TypeError: 'set' object is not subscriptable

In [197]:
myset1.remove(7)

KeyError: 7

In [231]:
myset1={1,2,3}

In [236]:
myset2={6,4,5}

In [206]:
myset1.union(myset2)

{1, 2, 3, 4, 5}

In [207]:
myset1

{1, 2, 3}

In [208]:
myset1.update(myset2)

In [209]:
myset1

{1, 2, 3, 4, 5}

In [212]:
myset1.difference(myset2)

{1, 2}

In [213]:
myset1.difference_update(myset2)

In [218]:
myset1

{1, 2, 3}

In [220]:
myset2.difference(myset1)

{4, 5}

In [217]:
myset1.intersection(myset2)

{3}

In [221]:
myset1

{1, 2, 3}

In [222]:
myset2

{3, 4, 5}

In [223]:
myset1.update(myset2)

In [224]:
myset1

{1, 2, 3, 4, 5}

In [227]:
myset1

{1, 2, 3}

In [228]:
myset2

{3, 4, 5}

In [229]:
myset1.intersection_update(myset2)

In [235]:
myset1

{1, 2, 3}

In [237]:
myset2

{4, 5, 6}

In [238]:
myset1.isdisjoint(myset2)

True

In [239]:
myset1.issubset(myset2)

False

In [240]:
myset1={1,2,3,4,5,6,7,8,9,10}

In [246]:
myset2={2,3,4}

In [242]:
myset1.issubset(myset2)

False

In [245]:
myset2.issubset(myset1)

False

In [247]:
myset1.issuperset(myset2)

True

In [250]:
myset1={1,2,3,4,'a'}
myset2={'a','b','c'}

In [251]:
myset1.symmetric_difference(myset2)

{1, 2, 3, 4, 'b', 'c'}

In [252]:
myset1.symmetric_difference_update(myset2)

In [253]:
myset1

{1, 2, 3, 4, 'b', 'c'}